<form method="post" action="/newdistance" >
	<div><input type="text" name="distance" placeholder="Distance..."></div>

	<div>
	  <label>
	   <input type="radio" name="miles" value="miles" checked>
	    Miles
	  </label>
	</div>

	<div>
	  <label>
	    <input type="radio" name="miles" value="kilometers">
	    Kilometers
	  </label>
	</div>

	<input type="submit">
</form>