<h2 class="title">Results</h2>
<div class="resultsbox">
<div class="resultsText resultsText__number"><%= @results %></div>
<div class="resultsText"><%= @explanation %></div>
<div class="resultsText resultsText__number"><%= @results2 %></div>
<div class="resultsText"><%= @explanation2 %></div>
</div>

